@model FlowerShop.Models.AddUser
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        function ShowUser(userData)
        {
            var target = $("#userForm");
            target.empty();
            setTimeout(fillForm, 5000);

            function fillForm()
            {
                if (userData)
                {
                    target.append("<p>Welcome to our Flower Shop, " + "<strong>" + userData.firstName + " " + userData.lastName + "</strong></p>")
                    target.append("<p>" + userData.street + "</p>")
                    target.append("<p>" + userData.city + ", " + userData.state + " " + userData.zip + "</p>")
                    target.append("<p>" + userData.email + "<p>")
                    target.append("</ br>")
                    target.append("<p>Your information has been received. THANK YOU!</p>")
                }
                else
                {
                }
            }
        }
    </script>
}
@{
    ViewBag.Title = "Register";
}

<div id="loading" class="row" style="background-color:white; border:thick; border-color:darkred; border-width:5px; display:none">
    <img src="~/Content/Images/ajax_pleasewait.gif" />
</div>

    <div class="container bodyBackground">
        <div id="userForm" class="row">
            <h2 style="margin-bottom: 3px;">@ViewBag.Title</h2>
            @using (Ajax.BeginForm("AddUser", "Home", new AjaxOptions
            {
                HttpMethod = "Post",
                InsertionMode = InsertionMode.ReplaceWith,
                LoadingElementId = "loading",
                LoadingElementDuration = 5000,
                OnSuccess = "ShowUser"
            }
                ))
            {
                var stateList = new List<SelectListItem>
{

        new SelectListItem{ Text = " ", Value = ""},
        new SelectListItem{ Text = "AK", Value = "AK"},
        new SelectListItem{ Text = "AZ", Value = "AZ"},
        new SelectListItem{ Text = "AR", Value = "AR"},
        new SelectListItem{ Text = "CA", Value = "CA"},
        new SelectListItem{ Text = "CO", Value = "CO"},
        new SelectListItem{ Text = "CT", Value = "CT"},
        new SelectListItem{ Text = "DE", Value = "DE"},
        new SelectListItem{ Text = "FL", Value = "FL"},
        new SelectListItem{ Text = "GA", Value = "GA"},
        new SelectListItem{ Text = "HI", Value = "HI"},
        new SelectListItem{ Text = "ID", Value = "ID"},
        new SelectListItem{ Text = "IL", Value = "IL"},
        new SelectListItem{ Text = "IN", Value = "IN"},
        new SelectListItem{ Text = "IA", Value = "IA"},
        new SelectListItem{ Text = "KS", Value = "KS"},
        new SelectListItem{ Text = "KY", Value = "KY"},
        new SelectListItem{ Text = "LA", Value = "LA"},
        new SelectListItem{ Text = "ME", Value = "ME"},
        new SelectListItem{ Text = "MD", Value = "MD"},
        new SelectListItem{ Text = "MA", Value = "MA"},
        new SelectListItem{ Text = "MI", Value = "MI"},
        new SelectListItem{ Text = "MN", Value = "MN"},
        new SelectListItem{ Text = "MS", Value = "MS"},
        new SelectListItem{ Text = "MO", Value = "MO"},
        new SelectListItem{ Text = "MT", Value = "MT"},
        new SelectListItem{ Text = "NE", Value = "NE"},
        new SelectListItem{ Text = "NV", Value = "NV"},
        new SelectListItem{ Text = "NH", Value = "NH"},
        new SelectListItem{ Text = "NJ", Value = "NJ"},
        new SelectListItem{ Text = "NM", Value = "NM"},
        new SelectListItem{ Text = "NY", Value = "NY"},
        new SelectListItem{ Text = "NC", Value = "NC"},
        new SelectListItem{ Text = "ND", Value = "ND"},
        new SelectListItem{ Text = "OH", Value = "OH"},
        new SelectListItem{ Text = "OK", Value = "OK"},
        new SelectListItem{ Text = "OR", Value = "OR"},
        new SelectListItem{ Text = "PA", Value = "PA"},
        new SelectListItem{ Text = "RI", Value = "RI"},
        new SelectListItem{ Text = "SC", Value = "SC"},
        new SelectListItem{ Text = "SD", Value = "SD"},
        new SelectListItem{ Text = "TN", Value = "TN"},
        new SelectListItem{ Text = "TX", Value = "TX"},
        new SelectListItem{ Text = "UT", Value = "UT"},
        new SelectListItem{ Text = "VT", Value = "VT"},
        new SelectListItem{ Text = "VA", Value = "VA"},
        new SelectListItem{ Text = "WA", Value = "WA"},
        new SelectListItem{ Text = "WV", Value = "WV"},
        new SelectListItem{ Text = "WI", Value = "WI"},
        new SelectListItem{ Text = "WY", Value = "WY"}


    };
    <table>
        <tr>
            <td><label>First Name</label></td>
            <td><label>Middle Name</label></td>
            <td><label>Last Name</label></td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(s => s.firstName)</td>
            <td>@Html.TextBoxFor(s => s.middleName)</td>
            <td>@Html.TextBoxFor(s => s.lastName)</td>
        </tr>
        <tr>
            <td><label>Email Address</label></td>
            <td><label>Confirm Email</label></td>
            <td><label>Password</label></td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(s => s.email)</td>
            <td>@Html.TextBoxFor(s => s.confirmEmail)</td>
            <td>@Html.TextBoxFor(s => s.password)</td>
        </tr>
        <tr>
            <td><label>Street Address</label></td>
            <td><label>City</label></td>
            <td><label>State</label></td>
            <td><label>Zip</label></td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(s => s.street)</td>
            <td>@Html.TextBoxFor(s => s.city)</td>
            <td>@Html.DropDownListFor(s => s.state, stateList)</td>
            <td>@Html.TextBoxFor(s => s.zip)</td>
        </tr>
        <tr>
            <td><label>Secret Question</label></td>
            <td><label>Secret Answer</label></td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(s => s.secretQuestion)</td>
            <td>@Html.TextBoxFor(s => s.secretAnswer)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="reset" value="Reset" /></td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>
}

        </div>
</div>
