@model IEnumerable<FlowerShop.Models.FLOWER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FLOWER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLOWER_SIZE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLOWER_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOR.COLOR_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FLOWER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLOWER_SIZE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLOWER_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLOR.COLOR_NAME)
        </td>
        <td>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FLOWER_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FLOWER_ID }) |
        </td>
    </tr>
}

</table>
